<div class="parent"> 
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' "   id="container">
        <div class="form-container sign-up" >
            <form #form="ngForm" *ngIf="isFormDivVisible" [ngClass]="isFormDivVisible ? 'active' : ''"  >
                <h2>Salary Details</h2><br>

                <span style="margin-right: 190px; color: red;font-weight: bold">Basic Salary </span>
                <input type="text" name="firstName" [(ngModel)]="signUpObj.basic_salary" placeholder="Basic Salary" required="true">
                <span style="margin-right: 170px; color: red;font-weight: bold">Education Loan</span>
                <input type="email" name="email" [(ngModel)]="signUpObj.loan" placeholder="Education Loan">
                <span style="margin-right: 170px; color: red;font-weight: bold">Professional Tax</span>
                
                <input type="text" name="phone" [(ngModel)]="signUpObj.tax" placeholder="Professional Tax">
         
                <button (click)="addNumbers()">Caculate</button>


                
            </form>

            <!-- <div class="salary-details">
                <span> Basic Salary: {{signUpObj.basic_salary}}</span><br>
                <span> Total Detuction {{total_detuction}} </span><br>
                <span> Net Pay: {{ net_pay}}</span>
                <button (click)="pay()">Pay Salary</button>
            </div> -->
            <table class="salary-details">
                <tr>
                    <td>Basic Salary:</td>
                    <td>{{ signUpObj.basic_salary }}</td>
                </tr>
                <tr>
                    <td>Total Deduction:</td>
                    <td>{{ total_detuction }}</td>
                </tr>
                <tr>
                    <td>Net Pay:</td>
                    <td>{{ net_pay }}</td>
                </tr>
            </table>
            <button style="margin-left: 170px;" (click)="pay()">Pay Salary</button>
            
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back HR Portal</h1>
                    <p>Enter your salary details to use all of HR Portal</p>
                  
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back HR Portal</h1>
                    <p>Enter Your Salary details to use all of HR Portal</p>
                    <button type="button" class="hidden" id="register" >Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

